.DS_Store
Optimization Results/Optimization#1/raw data and manual counted/Test data.czi
Optimization Results/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-31-P4-A06111.czi
Optimization Results/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-34-P2-A06222.czi
Optimization Results/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-35-P6-A06333.czi
Optimization Results/Optimization#3/raw data/RN221213abc-Scene(61).czi
Optimization Results/Optimization#3/raw data/RN221213abc-Scene(62).czi
Optimization Results/Optimization#3/raw data/RN221213abc-Scene(64).czi
Optimization Results/Optimization#3/raw data/RN221213abc-Scene(65).czi
Optimization Results/ApoptosisOptimization/PF_LK_LCI220921-1_AcquisitionBlock1_pt1-Scene-006-P2-A02.czi
Optimization Results/ApoptosisOptimization/PF_LK_LCI220921-1_AcquisitionBlock1_pt1-Scene-007-P4-A02.czi
Optimization Results/ApoptosisOptimization/PF_LK_LCI220921-1_AcquisitionBlock1_pt1-Scene-008-P3-A02.czi
Optimization Results/MitosisOptimization/Optimization#1/raw data and manual counted/Test data.czi
Optimization Results/MitosisOptimization/Optimization#3/raw data/RN221213abc-Scene(61).czi
Optimization Results/MitosisOptimization/Optimization#3/raw data/RN221213abc-Scene(62).czi
Optimization Results/MitosisOptimization/Optimization#3/raw data/RN221213abc-Scene(64).czi
Optimization Results/MitosisOptimization/Optimization#3/raw data/RN221213abc-Scene(65).czi
Optimization Results/MitosisOptimization/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-31-P4-A06111.czi
Optimization Results/MitosisOptimization/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-34-P2-A06222.czi
Optimization Results/MitosisOptimization/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-35-P6-A06333.czi
Optimization Results/ProlongedMitosisOptimization/D4_DI Taxol/LCI_221019-1_AcquisitionBlock2_pt2-Scene-66-P1-D04.czi
Optimization Results/ProlongedMitosisOptimization/D4_DI Taxol/LCI_221019-1_AcquisitionBlock2_pt2-Scene-67-P2-D04.czi
Optimization Results/ProlongedMitosisOptimization/D4_DI Taxol/LCI_221019-1_AcquisitionBlock2_pt2-Scene-68-P4-D04.czi
Optimization Results/ProlongedMitosisOptimization/D4_DI Taxol/LCI_221019-1_AcquisitionBlock2_pt2-Scene-69-P5-D04.czi
Optimization Results/ProlongedMitosisOptimization/D4_DI Taxol/LCI_221019-1_AcquisitionBlock2_pt2-Scene-70-P3-D04.czi
Optimization Results/ProlongedMitosisOptimization/D5_DI(spc24)/rawdata/LCI_221019-1_AcquisitionBlock2_pt2-Scene-61-P2-D05.czi
Optimization Results/ProlongedMitosisOptimization/D5_DI(spc24)/rawdata/LCI_221019-1_AcquisitionBlock2_pt2-Scene-62-P5-D05.czi
Optimization Results/ProlongedMitosisOptimization/D5_DI(spc24)/rawdata/LCI_221019-1_AcquisitionBlock2_pt2-Scene-63-P1-D05.czi
Optimization Results/ProlongedMitosisOptimization/D5_DI(spc24)/rawdata/LCI_221019-1_AcquisitionBlock2_pt2-Scene-64-P4-D05.czi
Optimization Results/ProlongedMitosisOptimization/D5_DI(spc24)/rawdata/LCI_221019-1_AcquisitionBlock2_pt2-Scene-65-P3-D05.czi
