.DS_Store
Optimization Results/Optimization#1/raw data and manual counted/Test data.czi
Optimization Results/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-31-P4-A06111.czi
Optimization Results/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-34-P2-A06222.czi
Optimization Results/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-35-P6-A06333.czi
Optimization Results/Optimization#3/raw data/RN221213abc-Scene(61).czi
Optimization Results/Optimization#3/raw data/RN221213abc-Scene(62).czi
Optimization Results/Optimization#3/raw data/RN221213abc-Scene(64).czi
Optimization Results/Optimization#3/raw data/RN221213abc-Scene(65).czi
Optimization Results/ApoptosisOptimization/PF_LK_LCI220921-1_AcquisitionBlock1_pt1-Scene-006-P2-A02.czi
Optimization Results/ApoptosisOptimization/PF_LK_LCI220921-1_AcquisitionBlock1_pt1-Scene-007-P4-A02.czi
Optimization Results/ApoptosisOptimization/PF_LK_LCI220921-1_AcquisitionBlock1_pt1-Scene-008-P3-A02.czi
Optimization Results/MitosisOptimization/Optimization#1/raw data and manual counted/Test data.czi
Optimization Results/MitosisOptimization/Optimization#3/raw data/RN221213abc-Scene(61).czi
Optimization Results/MitosisOptimization/Optimization#3/raw data/RN221213abc-Scene(62).czi
Optimization Results/MitosisOptimization/Optimization#3/raw data/RN221213abc-Scene(64).czi
Optimization Results/MitosisOptimization/Optimization#3/raw data/RN221213abc-Scene(65).czi
Optimization Results/MitosisOptimization/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-31-P4-A06111.czi
Optimization Results/MitosisOptimization/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-34-P2-A06222.czi
Optimization Results/MitosisOptimization/Optimization#2/raw data/LCI230606_MHLKSH-6_AcquisitionBlock1_pt1-Scene-35-P6-A06333.czi
